@import url("https://fonts.googleapis.com/css?family=Assistant:300|Montserrat|Raleway&display=swap");

@mixin google-font($family) {
  @import url("http://fonts.googleapis.com/css?family=#{$family}");
}
// How to use it in code
// @include google-font("Droid Sans");
