$primary-color: #1d7874;
$primary-dark: #243330;
$primary-light: #d8cfaf;

$almost-white: #fdfffc;

$text-color-light: #fafafa;
$text-color-dark: #554348;

$btn-grey: #686963;
$btn-green: rgb(218, 78, 14);

$drink: #4d9078;
$activity: #5fad56;
$poo: #f78154;
$pee: #f2c14e;
