$primary-color: #457c79;
$primary-dark: #243330;
$primary-light: #e4e4e4;

$almost-white: #e4e4e4;

$text-color-light: #fafafa;
$text-color-dark: #243330;

$dark-grey: #686963;
$orange: #da4e0e;

$drink: #4d9078;
$activity: #5fad56;
$poo: #f78154;
$pee: #f2c14e;
