$primary-color: #dcedc8;
$primary-light: #fffffb;
$primary-dark: #aabb97;

$secondary-color: #ff8a65;
$secondary-light: #ffbb93;
$secondary-dark: #c75b39;

$text-color-light: #fafafa;
$text-color-dark: #212121;
