@import "../sass/main.scss";

.pageBodyHistory {
  display: grid;
  grid-template-rows: 8vh 72vh;

  .historyDateSelector {
    grid-row: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-light;
    color: $secondary-dark;
  }
  .historyContainer {
    grid-row: 2;
    align-self: flex-start;
    height: 100%;
    overflow: scroll;

    .eventRow {
      display: grid;
      grid-template-rows: 50% 50%;
      grid-template-columns: 25% 50% 25%;
      grid-template-areas: "time nature volume" "details details details";
      margin-top: 0.5vh;
      background-color: $almost-white;
      border-bottom: 2px solid $secondary-light;

      height: 11vh;
      & > * {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1vw;
        font-size: 1.2rem;
        color: $secondary-dark;
      }
      .eventTime {
        grid-area: time;
      }
      .eventNature {
        grid-area: nature;
      }
      .eventVolume {
        grid-area: volume;
      }
      .rowDetails {
        grid-area: details;
        background-color: #fff;
        color: $btn-grey;
      }
      .eventType {
        font-size: 0.9rem;
        padding: 2vw;
      }
      .eventContext {
        font-size: 0.8rem;
        display: flex;
        li {
          padding: 2vw;
        }
      }
    }
  }
}
