@import "../sass/main.scss";

.page {
  display: grid;
  grid-template-rows: 10vh 80vh;
  width: 100vw;
  .topBar {
    grid-row: 1;
  }
  .pageBodyHistory {
    grid-row: 2;

    display: grid;
    grid-template-rows: 8vh 72vh;
    .historyDateSelector {
      grid-row: 1;
      height: 100%;

      background-color: $secondary-light;
    }
    .historyContainer {
      grid-row: 2;
      align-self: flex-start;
      height: 100%;
      overflow: scroll;
    }
  }
  .pageBodySummary {
    grid-row: 2;

    display: grid;
    grid-template-areas: "date type" "context quantity" "comment comment";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-around;
    align-content: space-around;
    grid-gap: 15px;
    padding: 15px;
    background-color: $secondary-dark;

    & > :first-child {
      grid-area: date;
    }
    & > :nth-child(2) {
      grid-area: type;
    }
    & > :nth-last-child(3) {
      grid-area: context;
    }
    & > :nth-last-child(2) {
      grid-area: quantity;
    }
    & > :last-child {
      grid-area: comment;
    }
  }
  .pageBodyEvents {
    grid-row: 2;

    display: grid;
    grid-template-rows: 8vh 72vh;
    .timeBar {
      grid-row: 1;
    }
    .options {
      grid-row: 2;

      display: grid;
      height: 100%;
      grid-template-rows: auto;

      & > :first-child {
        height: auto;
      }
      & > :nth-child(2) {
        height: auto;
      }
      & > :nth-last-child(2) {
        height: auto;
      }
      & > :last-child {
        height: auto;
      }
    }
  }
}
