.main {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  margin-top: 2px;
}

.info {
  background: lightgray;
}

.time {
  color: white;
  background: grey;
}

.volume {
  color: white;
  background: darkgray;
}
