nav {
  background-color: rgb(50, 90, 90);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
  grid-template-rows: 1fr;
  height: 10vh;
}

a {
  text-decoration: none;
  color: white;
}

/* Center text on X baseline */
.history {
  align-self: center;
  justify-self: start;
  grid-column: 2/3;
}
.events {
  justify-self: center;
  grid-column: 3/4;
  align-self: center;
}
.about {
  justify-self: end;
  align-self: center;
  grid-column: 4/5;
}
.hiddenEventButtonGroup {
  display: none;
}
.shownEventButtonGroup {
  display: block;
  position: absolute;
  top: -50px;
}
