@import "../global.scss";

$buttonAddEventDiameter: 70px;
$buttonGroupWidth: 100%;
$buttonGroupHeight: 10vh;

.navBar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90vh 10vh;
  grid-template-areas: "modal" "navbar";

  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
}

//Style the Menu of the Navbar
.bottomNavBar {
  background-color: $secondary-dark;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "history events about";
  grid-area: navbar;

  z-index: 1;
  a {
    text-decoration: none;
    color: $text-color-light;
    font-weight: 600;
  }
}

.history {
  grid-area: history;
  align-self: center;
  justify-self: start;
  width: 100%;
}
.events {
  grid-area: events;
  position: relative;
  bottom: 30px;
  display: flex;
  justify-self: center;
  height: $buttonAddEventDiameter;
  width: $buttonAddEventDiameter;
  border: 5px solid white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 99;
  background-color: $primary-dark;
}
.cross {
  margin: auto;
  overflow: hidden;
  fill: $secondary-dark;
}
.events:hover .cross {
  fill: white;
}

.about {
  grid-area: about;
  justify-self: end;
  align-self: center;
  width: 100%;
}
.history:hover,
.events:hover,
.about:hover {
  background-color: $secondary-light;
}

//Style and Show (or not) the event menu
.hiddenEventButtonGroup {
  visibility: hidden;
  transform: translateY(100vh);
}

.shownEventButtonGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "poo pee" "activity drink";
  grid-area: modal;

  transition: all 0.5s ease;
  background-color: rgba(220, 237, 200, 0.98);
}

#buttonPee,
#buttonDrink,
#buttonActivity,
#buttonPoo {
  line-height: (130px);
  width: 130px;
  height: 130px;
  border: 7px solid white;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  justify-self: center;
  align-self: center;
  -webkit-box-shadow: 2px 5px 16px 0px grey,
    inset -2px 3px 9px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 5px 16px 0px grey, inset -2px 3px 9px 5px rgba(0, 0, 0, 0.1);
}

#buttonPee {
  background-color: goldenrod;
  grid-area: pee;
}
#buttonDrink {
  background-color: rgb(83, 139, 190);
  grid-area: drink;
}
#buttonActivity {
  background-color: rgb(116, 184, 38);
  grid-area: activity;
}
#buttonPoo {
  background-color: $secondary-dark;
  grid-area: poo;
}
#buttonPee:hover,
#buttonDrink:hover,
#buttonPoo:hover {
  background-color: #fff;
  transition: all 0.3s ease 0s;
}
