@import "../global.scss";
@import "../sass/mixins";

$btnAddEventDiameter: 70px;
$navHeight: 10vh;

.navBar {
  //Style the Menu of the Navbar
  .bottomNavBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "history events info" "history events info";

    position: fixed;
    bottom: 0;
    height: $navHeight;
    width: 100vw;
    background-color: $secondary-dark;
    z-index: 1;
    .activeLink {
      color: $primary-dark;
    }
    a {
      text-decoration: none;
      color: $text-color-light;
      font-weight: 600;
    }
    .history {
      grid-area: history;
      align-self: center;
      justify-self: start;
      width: 100%;
    }
    .events {
      grid-area: events;
      position: relative;
      bottom: 30px;
      display: flex;
      justify-self: center;
      height: $btnAddEventDiameter;
      width: $btnAddEventDiameter;
      border: 5px solid white;
      border-radius: 50%;
      cursor: pointer;
      z-index: 99;
      @include button-bg($primary-dark);
      .cross {
        margin: auto;
        overflow: hidden;
        fill: $secondary-dark;
      }
      &:hover .cross {
        fill: white;
      }
    }
    .about {
      grid-area: info;
      justify-self: end;
      align-self: center;
      width: 100%;
    }
  }

  //Style and Show (or not) the event menu
  .hiddenEventBtnGroup {
    .wrapper {
      opacity: 0;
      transition: opacity 0.5s ease 0.5s, height 0.1s ease 1s;
      .btn {
        -webkit-animation: scale-out-center 0.5s
          cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
        animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
          both;
      }
    }
  }
  .shownEventBtnGroup {
    .wrapper {
      height: 90vh;
      opacity: 1;
      .btn {
        -webkit-animation: scale-in-center 0.5s
          cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
          both;
      }
    }
  }
  //Style of buttons
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "poo pee" "activity drink";

    position: absolute;
    bottom: $navHeight;
    height: 0;
    width: 100vw;
    overflow: hidden;
    background-color: $primary-light;

    .btn {
      line-height: (130px);
      width: 130px;
      height: 130px;
      border: 7px solid rgba(255, 255, 255, 0.61);
      border-radius: 50%;
      color: white;
      text-decoration: none;
      font-weight: 800;
      font-size: 1.1em;
      justify-self: center;
      align-self: center;
      text-transform: uppercase;

      -webkit-box-shadow: 2px 5px 16px 0px grey,
        inset -2px 3px 9px 5px rgba(0, 0, 0, 0.1);
      box-shadow: 2px 5px 16px 0px grey,
        inset -2px 3px 9px 5px rgba(0, 0, 0, 0.1);
    }
  }

  .btnPee {
    @include button-bg(#f1c40f);
    grid-area: pee;
  }
  .btnDrink {
    @include button-bg(#3498db);
    grid-area: drink;
  }
  .btnActivity {
    @include button-bg(#2ecc71);
    grid-area: activity;
  }
  .btnPoo {
    @include button-bg(#e74c3c);
    grid-area: poo;
  }

  // animation scale-in-center

  @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
}
// animation scale-out-center

@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
