@import "../global.scss";

$btnAddEventDiameter: 70px;
$btnGroupWidth: 100%;
$btnGroupHeight: 10vh;

.navBar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90vh 10vh;
  grid-template-areas: "modal" "navbar";

  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
}

//Style the Menu of the Navbar
.bottomNavBar {
  background-color: $secondary-dark;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "history events about";
  grid-area: navbar;

  z-index: 1;
  a {
    text-decoration: none;
    color: $text-color-light;
    font-weight: 600;
  }
}

.history {
  grid-area: history;
  align-self: center;
  justify-self: start;
  width: 100%;
  padding-bottom: 10px;
}
.events {
  grid-area: events;
  position: relative;
  bottom: 30px;
  display: flex;
  justify-self: center;
  height: $btnAddEventDiameter;
  width: $btnAddEventDiameter;
  border: 5px solid white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 99;
  background-color: $primary-dark;
}
.cross {
  margin: auto;
  overflow: hidden;
  fill: $secondary-dark;
}
.events:hover .cross {
  fill: white;
}

.about {
  grid-area: about;
  justify-self: end;
  align-self: center;
  width: 100%;
  padding-bottom: 10px;
}
.history:hover,
.events:hover,
.about:hover {
  background-color: $secondary-light;
}

//Style and Show (or not) the event menu
.hiddenEventBtnGroup {
  visibility: hidden;
  opacity: 0;
  // transform: translateY(100vh);
}

.shownEventBtnGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "poo pee" "activity drink";
  grid-area: modal;

  background-color: white;
  opacity: 1;
  #btnPee,
  #btnDrink,
  #btnActivity,
  #btnPoo {
    line-height: (130px);
    width: 130px;
    height: 130px;
    border: 7px solid white;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.1em;
    justify-self: center;
    align-self: center;

    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    -webkit-box-shadow: 2px 5px 16px 0px grey,
      inset -2px 3px 9px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 5px 16px 0px grey, inset -2px 3px 9px 5px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: rgb(73, 69, 69);
      transition: all 0.3s ease 0s;
    }
  }
  #btnPee {
    background-color: goldenrod;
    grid-area: pee;
  }
  #btnDrink {
    background-color: rgb(83, 139, 190);
    grid-area: drink;
  }
  #btnActivity {
    background-color: rgb(116, 184, 38);
    grid-area: activity;
  }
  #btnPoo {
    background-color: $secondary-dark;
    grid-area: poo;
  }
}

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
