@import "../global.scss";

$buttonAddEventDiameter: 70px;
$buttonGroupWidth: 100%;
$buttonGroupHeight: 80px;

.bottomNavBar {
  background-color: $secondary-dark;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 10vh;
  a {
    text-decoration: none;
    color: $text-color-light;
    font-weight: 600;
  }
}

.history {
  align-self: center;
  justify-self: start;
  grid-column: 1/2;
  width: 100%;
  line-height: 10vh;
}

.events {
  position: relative;
  display: flex;
  justify-self: center;
  bottom: 30px;
  height: $buttonAddEventDiameter;
  width: $buttonAddEventDiameter;
  border: 5px solid white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 99;
  background-color: $primary-dark;
}
.cross {
  margin: auto;
  fill: $secondary-dark;
  overflow: hidden;
}
.events:hover .cross {
  fill: white;
}

.about {
  justify-self: end;
  align-self: center;
  grid-column: 3/4;
  line-height: 10vh;
  width: 100%;
}
.history:hover,
.events:hover,
.about:hover {
  background-color: $secondary-light;
}

.hiddenEventButtonGroup {
  display: none;
}

.shownEventButtonGroup {
  position: absolute;
  height: $buttonGroupHeight;
  width: $buttonGroupWidth;
  top: -$buttonGroupHeight;
  align-items: stretch;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
#buttonPee {
  background-color: $secondary-light;
  line-height: ($buttonGroupHeight - 1);
  width: ($buttonGroupWidth);
  justify-self: left;
  border: 1px solid $secondary-dark;
}
#buttonDrink {
  background-color: $secondary-light;
  line-height: ($buttonGroupHeight - 1);
  width: ($buttonGroupWidth);
  border: 1px solid $secondary-dark;
  justify-self: center;
}
#buttonActivity {
  background-color: $secondary-light;
  line-height: ($buttonGroupHeight - 1);
  width: ($buttonGroupWidth);
  border: 1px solid $secondary-dark;
  justify-self: center;
}
#buttonPoo {
  background-color: $secondary-light;
  line-height: ($buttonGroupHeight - 1);
  width: ($buttonGroupWidth);
  border: 1px solid $secondary-dark;
  justify-self: end;
}
#buttonPee:hover,
#buttonDrink:hover,
#buttonPoo:hover {
  background-color: #fff;
  transition: all 0.3s ease 0s;
}
