nav {
  background-color: rgb(50, 90, 90);
  position: absolute;
  bottom: 0;
  width: 100%;
}
ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 10vh;
  padding: 0 20px;
  margin: 0;
}
li {
  align-self: center; /* Center text on Y baseline */
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
/* Center text on X baseline */
.history {
  justify-self: start;
}
.events {
  justify-self: center;
}
.about {
  justify-self: end;
}
