@import "../sass/main.scss";

.optionSelector {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  align-content: center;
  justify-content: space-around;
  width: 90vw;
  min-height: min-content;

  h2 {
    font-size: 1.2rem;
    text-align: left;
    padding-bottom: 1vh;
  }
  .btnGroup {
    width: inherit;
    .btn {
      color: $text-color-light;
      min-height: 30px;
      width: (90vw - 1) / 3;
      background-color: $primary-dark;
      font-size: 1rem;
      border-style: none;

      &.selected {
        background-color: $primary-color;
      }
      /* remove border when clicked */
      &.selected:focus {
        outline: none;
      }
      &:nth-child(1) {
        border-radius: 10px 0 0 10px;
      }
      &:nth-child(2) {
        border-radius: 0;
        margin: 0 0.5vw;
      }
      &:last-child {
        border-radius: 0 10px 10px 0;
      }
    }
  }
}
