@import "../sass/main.scss";

.optionSelector {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    margin-right: 10px;
  }
  .btn {
    color: $text-color-dark;
    width: 70px;
    height: 30px;
    padding: em(5) em(5);
    &.selected {
      color: $funcky-pink;
    }
    /* remove border when clicked */
    &.selected:focus {
      outline: none;
    }
  }
}
