@import "../sass/main.scss";

.optionSelector {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  align-content: center;
  justify-content: space-around;

  height: 15vh;
  width: 90vw;
  border: 0.5px solid $beige;
  border-radius: 10px;
  background-color: darken(#fff, 2%);

  h2 {
    font-size: 1.2rem;
  }
  .btn {
    color: $text-color-dark;
    height: 30px;
    min-width: 75px;
    padding: em(5) em(5);
    &.selected {
      color: $funcky-pink;
    }
    /* remove border when clicked */
    &.selected:focus {
      outline: none;
    }
  }
}
