@import "../sass/main.scss";

.summaryItems {
  display: grid;
  grid-template-rows: 7vh auto 2vh;
  grid-gap: 5px;

  height: minmax(min-content auto);
  border-radius: 3vw;
  padding: 0;
  color: $text-color-dark;
  background-color: #fff;
  h2 {
    grid-row: 1;
    font-size: 1rem;
    font-weight: 500;
    align-self: center;
    padding: 10px;
    border-bottom: 1px solid $almost-white;
  }
  p,
  ul {
    grid-row: 2;
    font-size: 1rem;
    align-self: center;
    padding: 0 10px;
    li {
      padding: 5px 0;
    }
  }
  &--type {
    display: flex;
    flex-direction: column;
    grid-row: 2;
    justify-content: space-around;
    p {
      padding: 5px;
    }
  }
  .stylePlus {
    font-size: 2rem;
  }
}
