.TopBar {
  background-color: transparent;
  top: 0;
  width: 100%;
  display: grid;
  height: 10vh;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.TopBar h1 {
  grid-column: 2/3;
  margin: 0;
}
.TopBar > button {
  height: 40px;
  width: 80px;
  margin: 0 20px;
  border-radius: 5px;
}
.TopBar > button:nth-child(1) {
  grid-column: 1/2;
  justify-self: start;
}
.TopBar > button:nth-child(3) {
  grid-column: 3/4;
  justify-self: end;
}
