@import "../../sass/main.scss";

.loginPage {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 10vh 30% 1fr 10vh;
  justify-items: center;
  align-items: center;
  background-color: $almost-white;
  color: $secondary-dark;
  .logo {
    grid-row: 2;
    grid-column: 2;
    justify-items: center;

    img {
      width: 30%;
    }
    h1 {
      font-size: 3rem;
      font-weight: bold;
      color: $funcky-pink;
      letter-spacing: 4px;
    }
    h2 {
      font-size: 1rem;
    }
  }
  form {
    grid-row: 3;
    grid-column: 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
    border-radius: 10px;
    padding: 8vw;

    & > * {
      border-radius: 50px;
      box-sizing: border-box;
      padding: rem(10) rem(20);
      letter-spacing: 1px;
      font-size: 1.2rem;
      border: 1px solid $btn-grey;
    }
    //this code is to change the autofill color, comment this section to see the diference.
    input:-webkit-autofill {
      box-shadow: 0 0 0px 1000px white inset;
      background-color: transparent;
    }
    input[type="text"] {
      grid-row: 1;
    }
    input[type="password"] {
      grid-row: 2;
    }
    input[type="submit"] {
      grid-row: 3;
      background-color: $funcky-pink;
      font-weight: bold;
      color: $almost-white;
      border: none;
      @include shadowEffect;
    }
  }
}
