@import "./sass/main";

.App {
  font-size: $base-font-size;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space /
  background: transparent; / optional: just make scrollbar invisible /
  }
  / optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: #ff0000;
  }
}
