@import url("https://fonts.googleapis.com/css?family=Assistant:300|Montserrat|Raleway&display=swap");
@import "../src/sass/_reset.scss";

body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Raleway", "Montserrat",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
